body{
    background-color: #acacac;
}

#barber-chair{
   width: 100%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 25px;
}

em strong { 
    color: #ff0000;
}

.itens-beneficios{
    font-style:italic;  
}